.mobile-nav-bar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    display: none;
    width: 100%;
    color: white;
}

.mobile-nav-bar-button {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* button reset */
    padding: 0;
    margin: 0;
    border: none;
    background-color: inherit;
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    cursor: pointer;
}

.mobile-nav-bar-list-github-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.mobile-nav-bar-list-github-button a {
    padding: 2px 8px;
    font-size: 0.8rem;
    font-weight: 700;
    border: solid 2px white;
    border-radius: 5px;
}

.mobile-nav-bar-list {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    padding: 80px 16px 40px 16px;
    background-color: rgba(37, 41, 45, 1);
}

.mobile-nav-bar-list span {
    display: block;
    width: 100%;
}

.mobile-nav-bar-list button {
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    background-color: inherit;
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    cursor: pointer;
    font-family: inherit;
    text-align: start;
}

.mobile-nav-bar-list ul {
    list-style-type: none;
    margin: 0;
    padding: 16px 0;
}

.mobile-nav-bar-list li {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1rem;
    padding: 8px 8px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

.mobile-nav-bar-drop-down-list {
    margin-top: 16px;
}

.mobile-nav-bar-drop-down-list ul{
    margin: 0;
    padding: 8px;
}

.mobile-nav-bar-drop-down-list span {
    padding: 0 16px;
    opacity: 0.5;
}

.mobile-nav-bar-drop-down-list li{
    margin: 0;
    padding: 8px 32px;
    border-bottom: none;
    font-weight: 500;
}

@media only screen and (max-width: 800px) {
    .mobile-nav-bar-wrapper {
        display: block;
    }
}