.post-header-wrapper {
    width: 100%;
    color: white;
    background-color: rgb(37, 41, 45);
    position: relative;
}

.post-header-title {
    width: 100%;
    height: 50px;
    overflow: hidden;
    line-height: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    background-color: inherit;
    position: relative;
    z-index: 200;
}