.frontpage-main{
    width: 100vw;
    max-width: 100%; /* offset scrollbar width */
    overflow-x: hidden;
    position: relative;
}
.color1{
    background-image: linear-gradient(to bottom, #13547a, #80d0c7);
}
.color2{
    background-image: linear-gradient(to bottom, #537895, #09203f);
}
.color3{
    background-image: linear-gradient(to bottom, #48c6ef, #6f86d6);
}
.color-dark{
    background-image: linear-gradient(to bottom, #29323c, #485563);
}
.academic-and-web {
    padding: 20px 0;
    background-image: linear-gradient(to bottom, #13547a, #80d0c7);
}
.gallery {
    padding: 20px 0;
    background-image: linear-gradient(to bottom, #29323c, #485563);
}

@media only screen and (max-width: 800px) {
    /* disable parallax effect */
    .cover-wrapper, .cover-intro, .mouse-icon-parallax {
        transform: translateZ(0) scale(1);
    }
    .cover-wrapper {
        z-index: 2;
    }
    .cover-intro {
        z-index: 3;
    }
    .mouse-icon-parallax {
        display: none;
    }
    .scroll-down-indicator-wrapper {
        display: none;
    }
    /* */
    .frontpage-main {
        perspective: none;
        transform-style: flat;
        overflow-x: hidden;
        overflow-y: hidden;
        height: auto;
        transform: none;
    }
    .cover-intro-inner h1 {
        font-size: 60px;
        line-height: 65px;
        word-spacing: 100vw;
        user-select: none;
    }
}
