.frontpage-main{
    width: 100vw;
    max-width: 100%; /* offset scrollbar width */
    overflow-x: hidden;
    position: relative;
}
.color1{
    background-image: linear-gradient(to bottom, #13547a, #80d0c7);
}
.color2{
    background-image: linear-gradient(to bottom, #537895, #09203f);
}
.color3{
    background-image: linear-gradient(to bottom, #48c6ef, #6f86d6);
}
.color-dark{
    background-image: linear-gradient(to bottom, #29323c, #485563);
}
.academic-and-web {
    padding: 20px 0;
    background-image: linear-gradient(to bottom, #13547a, #80d0c7);
}
.gallery {
    padding: 20px 0;
    background-image: linear-gradient(to bottom, #29323c, #485563);
}

@media only screen and (max-width: 800px) {

}
