.academic-project-template-wrapper {
    padding: 50px 0;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: white;
}
.AcademicProjectBox{
    width: calc(800px - 160px);
    min-height: 400px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 40px 0;
    padding: 60px 80px 80px 80px;
    transition: 0.3s;
}
.AcademicProjectBox:hover {
    cursor: pointer;
    box-shadow:inset 0 0 0 2px rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.4);
    transition: 0.3s;
}
.AcademicProjectBox h2 {
    margin-bottom: 40px;
    text-transform: capitalize;
    line-height: 2;
}
.AcademicProjectBox p {
    margin: 21px;
    text-align: left;
    font-size: 14px;
    line-height: 1.5;
}

@media only screen and (max-width: 800px) {
    .academic-project-template-wrapper {
        padding: 20px 0;
    }
    .academic-project-template-wrapper h1 {
        font-size: 22px;
    }
    .AcademicProjectBox{
        width: calc(100vw - 40px - 20px);
        min-height: 200px;
        margin: 40px 0;
        padding: 20px 20px 40px 20px;
    }
    .AcademicProjectBox h2 {
        margin: 20px;
        font-size: 20px;
    }
    .AcademicProjectBox p {
        margin: 14px;
    }
}
