.frontpage-main{
    width: 100vw;
    max-width: 100%; /* offset scrollbar width */
    /*overflow: hidden;*/
    position: relative;

    /* parallel box related */
    perspective: 1px;
    perspective-origin: 0 0;
    transform-style: preserve-3d;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 10;
    /*transform: translateZ(0);*/
    /**/
}
.parallax-container {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    backface-visibility: visible;
}
.cover-wrapper{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(to bottom, rgb(70, 100, 130), rgb(180, 140, 125), rgb(70, 100, 130));
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    /* parallel box related */
    transform-origin: 0 0; /* together with perspective-origin can ensure exact center when scrollbar takes space */
    transform: translateZ(-1.5px) scale(2.5);
    z-index: -3;
    /**/
}
.cover-bg, .cover-bg-loaded {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.cover-bg {
    opacity: 0;
    transform: scale(1.5);
}
.cover-bg-loaded {
    background-image: url(https://s3.us-east-2.amazonaws.com/xiaoxihome/cover-5k.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 1;
    transform: scale(1);
    transition: 1s transform ease, 1s opacity linear;
    overflow: hidden;
}
.cover-intro {
    /* parallel box related */
    transform-origin: 0 0; /* together with perspective-origin can ensure exact center when scrollbar takes space */
    transform: translateZ(-1px) scale(2);
    z-index: -2;
    /**/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.cover-intro-inner {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.cover-intro-inner h1 {
    color: white;
    font-size: 72px;
    line-height: 144px;
    font-weight: bold;
    text-align: center;
    margin: 0;
}
.mouse-icon-parallax {
    /* parallel box related */
    transform-origin: 0 0; /* together with perspective-origin can ensure exact center when scrollbar takes space */
    transform: translateZ(-0.2px) scale(1.2);
    z-index: -1;
    /**/
}
.mouse-icon {
    margin-bottom: 20px;
}
.color1{
    background-image: linear-gradient(to bottom, #13547a, #80d0c7);
}
.color2{
    background-image: linear-gradient(to bottom, #537895, #09203f);
}
.color3{
    background-image: linear-gradient(to bottom, #48c6ef, #6f86d6);
}
.color-dark{
    background-image: linear-gradient(to bottom, #29323c, #485563);
}


.academic-and-web {
    padding: 20px 0;
    background-image: linear-gradient(to bottom, #13547a, #80d0c7);
}
.gallery {
    padding: 20px 0;
    background-image: linear-gradient(to bottom, #29323c, #485563);
}
.project-container {
    width: 100%;
    padding: 100px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.project-container h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    color: white;
    font-size: 32px;
    word-spacing: 5px;
    letter-spacing: 1px;
}
.flexbox-wrapper-800 {
    width: 800px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.tile-big, .tile-sm {
    height: 192px;
    background-color: rgba(255,255,255,0.2);
    margin: 5px;
    transition: background-color 0.3s;
    text-transform: capitalize;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tile-big {
    width: 385px;
}
.tile-sm {
    width: 192px;
}
.tile-big:hover, .tile-sm:hover {
    background-color: rgba(0,0,0,0.1);
    transition: background-color 0.3s;
    cursor: pointer;
}
.tile-big h3, .tile-sm h3 {
    width: fit-content;
    color: white;
}
.tile-gallery {
    width: 390px;
    height: 243px;
    margin: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: radial-gradient(#434343, #000000);
    position: relative;
}
/* 1 */
.tile-gallery::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: white;
    top: 0;
    left: 0;
    transition: 0.1s 0.3s;
}
.tile-gallery:hover::after {
    width: 100%;
    transition: 0.1s;
}
/* 2 */
.tile-gallery h5::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 0;
    background-color: white;
    top: 0;
    right: 0;
    transition: 0.1s 0.2s;
}
.tile-gallery h5:hover::after {
    height: 100%;
    transition: 0.1s 0.1s;
}
/* 3 */
.tile-gallery::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: white;
    bottom: 0;
    right: 0;
    transition: 0.1s 0.1s;
}
.tile-gallery:hover::before {
    width: 100%;
    transition: 0.1s 0.2s;
}
/* 4 */
.tile-gallery h5::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 0;
    background-color: white;
    bottom: 0;
    left: 0;
    transition: 0.1s;
}
.tile-gallery h5:hover::before {
    height: 100%;
    transition: 0.1s 0.3s;
}

.tile-gallery h5{
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    width: calc(100% - 10px);
    height: calc(100% - 6px);
    padding: 3px 5px;
    transition: 0.1s 0.4s;
}
.tile-gallery h5:hover{
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}
.ribboned::after {
    position: absolute;
    content: '';
    top: 0;
    left: -45px;
    width: 100px;
    height: 35px;
    transform: rotate(-45deg);
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.3s;
}
.ribboned:hover::after {
    left: -65px;
    background-color: rgba(255, 255, 255, 0.8);
}


@media only screen and (max-width: 800px) {
    /* disable parallax effect */
    .cover-wrapper, .cover-intro, .mouse-icon-parallax {
        transform: translateZ(0) scale(1);
    }
    .cover-wrapper {
        z-index: 2;
    }
    .cover-intro {
        z-index: 3;
    }
    .mouse-icon-parallax {
        display: none;
    }
    /* */
    .frontpage-main {
        perspective: none;
        transform-style: flat;
        overflow-x: hidden;
        overflow-y: hidden;
        height: auto;
        transform: none;
    }
    .cover-bg-loaded {
        background-image: url("https://s3.us-east-2.amazonaws.com/xiaoxihome/cover-mobile.jpg");
    }
    /*.cover-intro {*/
    /*}*/
    .cover-intro-inner {
        justify-content: center;
    }
    .cover-intro-inner h1 {
        font-size: 36px;
        line-height: 42px;
        word-spacing: 100vw;
        letter-spacing: 3px;
    }
    .project-container {
        width: 100%;
        padding: 20px 0;
    }
    .project-container h2 {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
        color: white;
        font-size: 24px;
        word-spacing: 5px;
        letter-spacing: 1px;
    }
    .flexbox-wrapper-800 { /* NOT 800 ANYMORE */
        width: 100%;
        margin: 0;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .flexbox-wrapper-800 a { /* TILES ARE IN THE LINK */
        width: calc(100% - 20px);
    }
    .tile-big, .tile-sm {
        height: auto;
        background-color: rgba(255,255,255,0.2);;
        margin: 5px 0;
        padding: 15px 0;
        transition: 0s;
        text-transform: capitalize;
        width: 100%; /* inherit flexbox-wrapper-800 */
    }
    .tile-big:hover, .tile-sm:hover {
        background-color: rgba(0,0,0,0.1);
        transition: 0s;
        cursor: pointer;
    }
    .tile-big h3, .tile-sm h3 {
        font-size: 16px;
        color: white;
    }
    .tile-gallery {
        width: 100%; /* inherit flexbox-wrapper-800 */
        height: calc((100vw - 10px) * 0.5625); /* 16:9 */
        margin: 5px 0;
        background-size: 100%;
    }
    .ribboned::after {
        left: -25px;
        width: 60px;
        height: 25px;
    }
    .ribboned:hover::after {
        left: -40px;
    }
}

/* animation wrapper */
.fly-in-wrapper {
    width: auto;
}
@media only screen and (max-width: 800px) {
    .fly-in-wrapper {
        width: calc(100% - 20px);
    }
}