.web-app-project-template-body {
    padding: 150px 0;
    position: relative;
    min-height: 1000px;
    color: white;
}
.web-app-project-template-wrapper {
    margin: 0 auto;
    width: 800px;
    padding: 100px 50px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.web-app-project-template-wrapper h1 {
    margin-bottom: 50px;
    width: 800px;
    text-align: center;
}
.web-app-project-template-wrapper p {
    width: 800px;
    line-height: 1.5em;
    margin: 0 0 30px 0;
    text-indent: 30px;
}
.web-app-project-template-button-wrapper {
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.web-app-project-template-wrapper iframe{
    border: none;
    width: 800px;
    height: 480px;
}

.web-app-collection-wrapper {
    line-height: 1.5em;
}
.web-app-collection-item {
    margin: 50px 0;
}
.web-app-collection-item-title {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    font-weight: bold;
    flex-wrap: wrap;
}
.web-app-collection-item-github {
    margin: 0 20px;
    transform: scale(0.8);
    padding: 0 5px;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}
.web-app-collection-item-github:hover {
    background-color: white;
    color: #24292e;
}

/*
 1. z-index is ordered in its own stacking context
 2. <a> tag by default is inline element which has no width
 3. The vertical-align CSS property sets vertical alignment of an inline, inline-block or table-cell box
 4. default for vertical-align is baseline
 */
.web-app-link-animation a {
    border-bottom: dotted 1px white;
    position: relative;
    transition: color 0.3s, transform 0.3s;
    overflow: hidden;
    z-index: 1;
    display: inline-block;
    vertical-align: top;
}
.web-app-link-animation a:after {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-110%);
    background-color: white;
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

.web-app-link-animation a:hover:after {
    transform: translateX(0);
}

.web-app-link-animation a:hover {
    color: black;
}
.web-app-no-indent p {
    text-indent: 0;
}

.flip-button-wrapper {
    position: relative;
    width: 250px;
    height: 40px;
    transform: rotateX(0deg);
    transform-style: preserve-3d;
    transition: transform 0.5s;
    font-weight: bold;
    margin: 0 40px;
}
.flip-button-wrapper:hover {
    transform: rotateX(-90deg);
}
.flip-button-front, .flip-button-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.flip-button-front {
    transform: rotateX(0deg) translateZ(20px);
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}
.flip-button-back {
    transform: rotateX(90deg) translateZ(20px);
    color: black;
    background-color: white;
    backface-visibility: hidden;
}

.flip-button-click-front, .flip-button-click-back {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.flip-button-click-front {
    transform: rotateX(0deg) translateZ(20px);
}

.flip-button-click-back {
    transform: rotateX(90deg) translateZ(20px);
}





@media only screen and (max-width: 800px) {
    .web-app-project-template-body {
        padding: 100px 0;
        position: relative;
        min-height: 1000px;
        color: white;
    }

    .web-app-project-template-wrapper {
        margin: 0 auto;
        width: calc(100vw - 30px * 2 - 20px);
        padding: 80px 30px;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    .web-app-project-template-wrapper h1 {
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
        font-size: 24px;
    }

    .web-app-project-template-wrapper p {
        width: 100%;
        line-height: 1.5em;
        margin: 0 0 30px 0;
        text-indent: 30px;
        font-size: 14px;
    }

    .web-app-project-template-wrapper iframe{
        display: none;
    }

    .web-app-no-indent p {
        text-indent: 0;
    }

    .flip-button-wrapper {
        width: 250px;
        height: 30px;
        font-size: 12px;
    }

    .flip-button-front {
        transform: rotateX(0deg) translateZ(15px);
    }

    .flip-button-back {
        transform: rotateX(90deg) translateZ(15px);
        color: black;
        background-color: white;
        backface-visibility: hidden;
    }

    .flip-button-wrapper:hover {
        transform: rotateX(-90deg);
    }

    .flip-button-click-front {
        transform: rotateX(0deg) translateZ(15px);
    }

    .flip-button-click-back {
        transform: rotateX(90deg) translateZ(15px);
    }
}
