.mouse-icon-wrapper {
    width: 28px;
    height: 40px;
    padding: 10px;
    opacity: 0.5;
    transition: 0.3s;
}
.mouse-icon-wrapper:hover {
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s;
}
.mouse-icon-mouse {
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border-radius: 14px;
    border: 2px solid white;
    position: relative;
}
.mouse-icon-mouse::after {
    content: '';
    width: 0;
    height: 10px;
    border: 1px solid white;
    position: absolute;
    top: 8px;
    left: 11px;
    transform: translateY(0);
    transition: transform 0.5s;
}
.mouse-icon-mouse:hover::after {
    transform: translateY(5px);
    transition: transform 0.5s;
}