.drop-down-list-wrapper {
    position: absolute;
    transition: transform 0.3s;
    z-index: 100;
    background-color: rgba(37, 41, 45, 0.9);
}

.drop-down-list-wrapper ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.drop-down-list-wrapper span {
    display: block;
    background-color: rgba(37, 41, 45, 1);
    text-transform: uppercase;
    font-weight: 700;
    padding: 8px 16px;
    font-size: 1rem;
    line-height: 1.25rem;
}

.drop-down-list-wrapper li {
    display: block;
    margin: 0;
    padding: 8px 24px;
    font-size: 0.9rem;
    border: solid 1px rgba(255, 255, 255, 0);
}

.drop-down-list-wrapper li:hover {
    background-color: rgba(37, 41, 45, 1);
    border: solid 1px rgba(255, 255, 255, 1);
}

@media only screen and (max-width: 800px) {
    .drop-down-list-wrapper, .drop-down-list-wrapper span, .drop-down-list-wrapper ul {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}