.nav-bar-list-wrapper {
    width: 100%;
    height: 50px;
    overflow: hidden;
    position: relative;
    z-index: 200;
    background-color: rgb(37, 41, 45);
}

.nav-bar-list-mask {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
}

.nav-bar-list-wrapper ul {
    width: fit-content;
    min-width: 100%;
    height: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav-bar-list-wrapper li {
    display: inline-block;
    font-weight: 700;
    cursor: pointer;
    transition: opacity 300ms;
    font-size: 0.9rem;
    opacity: 0.5;
    user-select: none;
}

.nav-bar-list-wrapper li:hover {
    opacity: 1;
}

.nav-bar-list-wrapper span {
    padding: 10px 50px;
}

@media only screen and (max-width: 800px) {
    .nav-bar-list-wrapper span {
        padding: 10px 10px;
    }
}